<% @page_name = "Subscription with payment problems" %>

<%= render :partial => 'subscription/subscription', :locals => {:subscription => @subscription, :tariff_plan => @tariff_plan} %>

<%= render :partial => 'subscription/recurring_payment_profile', :locals => {:profiles => @subscription.recurring_payment_profiles} %>

<p>
<%= link_to '&larr; To problem subscriptions', :action => :problem_subscriptions %>
</p>
